@model IEnumerable<ProyectoPractica.AppMVCCore.Models.Libro>

@{
    ViewData["Title"] = "Index";
    var modelBuscar = new Libro();
}

<h1>Index</h1>

<form asp-action="Index">
    <div class="row">
        <div class="form-group col-4">
            <label asp-for="@modelBuscar.Titulo"></label>
            <input name="titulo" class="form-control" />
        </div>
        <div class="form-group col-4">
            <label asp-for="@modelBuscar.Precio"></label>
            <input name="precio" class="form-control" />
        </div>
        <div class="form-group col-4">
            <label asp-for="@modelBuscar.Autor"></label>
            <input name="autor" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-3">
            <label>Cant. Registros</label>
            <select name="topRegistro" class="form-control">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="0">Todos</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="row mt-3">
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Buscar" class="btn btn-primary" />
                <a asp-action="Create" class="btn btn-outline-danger"><i class="bi bi-plus-circle" title="Ir a crear"></i></a>
            </div>
        </div>
    </div>
</form>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editorial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editorial.Nombre)
            </td>
                <td >
                    <div class="form-group col-12">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success" title="Editar"><i class="bi bi-pencil"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary" title="Detalles"><i class=" bi bi-eye"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Eliminar"><i class="bi bi-trash-fill"></i></a>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                searching: false,
                ordering: false,
                 "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
            });
        });
    </script>
}